/* style.css */

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(45deg, #121829, #0F243B, #0F243C, #12213D, #191A40);
    color: white;
}

header {
    /* background-color: #1e1e2f; */
    /* padding: 1rem; */
    margin-left: 14rem;
    margin-top: 8rem;
}

header h1 {
    font-size: 5rem;
    margin: 0;
    color: #EBEEF5;
}

header p {
    color: #B2ADED;
    margin-bottom: 0rem;
}

#search-bar {
    background-color: unset;
    outline: none;
    border: none;
     color: white;
}

.search{
    margin-top: 2rem;
    border-radius: .5rem;
     padding: 1rem;
    background-color: #0F1627;
     width: 40%;
     display: flex;
     gap: 1rem;
     align-items: center;
      color: rgb(167, 162, 162);
}

nav{
    display: flex;
    align-items: center;
  justify-content: center;
  gap: 35rem;
   background-color: #121829;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem 0;
    list-style: none;
}

nav li {
    margin: 0 1rem;
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    color: rgb(167, 162, 162);
}

nav li.active {
    color: #5A4AF4;
}

#movies-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    padding: 2rem;
}

.movie-card {
    background-color: #232336;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    padding: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

#movies-section, #tvshows-section, #suggestme-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Ensures 3 equal columns */
    gap: 1rem; /* Adds spacing between cards */
    padding-left: 14rem;
    padding-right: 14rem;

}

#tvshows-section{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

 #suggestme-section{
     margin-top: 2rem;
    margin-bottom: 2rem;
 }

.co{
    color: #5A4AF4;
}


.movie-card img {
    max-width: 100%;
    border-radius: 8px;
}

.movie-card h3 {
    margin: 0.5rem 0 0;
}

footer {
    line-height: 1.5rem;
     color: rgb(167, 162, 162);
    text-align: center;;
    padding: 5rem;
    background-color: #1e1e2f;
}
